
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: hsla(186, 100%, 69%, 1);
    width: 100%;
    background: linear-gradient(0deg, hsla(186, 100%, 69%, 1) 23%, hsla(197, 100%, 63%, 1) 100%, hsla(342, 95%, 78%, 1) 100%);
    background: -moz-linear-gradient(0deg, hsla(186, 100%, 69%, 1) 23%, hsla(197, 100%, 63%, 1) 100%, hsla(342, 95%, 78%, 1) 100%);
    background: -webkit-linear-gradient(0deg, #FF7B89 15%, hsla(197, 100%, 63%, 1) 100%, hsla(342, 95%, 78%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#60EFFF", endColorstr="#40C9FF", GradientType=1 );
  }

  
  .entry-modal {
    background-color: #F2F2F2;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #444444;
    left: 50%;
    margin: 0px 0 0 -150px;
    padding: 16px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-10%, -50%);
    width: 400px;
    z-index: 9999;
    border-radius: 5px;
  }

  .entry-modal > p {
    font-size: 25px;
    font-weight: 600;
  }

  .entry-modal > input {
    font-size: 20px;
    line-height: 20px;
    width: 75%;
    border:2px solid #ccc;
    outline: none;
    border-radius: 5px;
  }

  .entry-modal> input:focus{
    border-color: rgb(6, 161, 179);
  }

  .entry-modal button {
    background-color: rgb(6, 161, 179);
    width: 40%;
    padding: 13px 0px;
    border-radius: 3px;
    font-weight: 600;
  }

  .entry-modal button:hover {
    background-color: rgb(3, 135, 150);
  }
  
  #notification {
    background-color: #FF7B89;
    color: black;
    font-size: 18pt;
    margin: 0;
    padding: 16px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .room-input {
    background-color: #F2F2F2;
    border: 1px solid #444444;
    box-sizing: border-box;
    color: #444444;
    display: block;
    font-size: 16px;
    margin: 16px auto;
    padding: 8px;
    width: 100%;
  }
  
  button {
    background-color: #2E2E2E;
    border: none;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    padding: 8px 16px;
  }
  
  button:hover {
    background-color: #444444;
  }
  
  .meet-area {
    height: 100vh;
    position: relative;
    width: 100vw;
  }
  
  #remote-video {
    background-color: transparent;
    height: 70%;
    object-fit: cover;
    position: absolute;
    width: 48%;
    left: 10px;
    top: 80px;
    border-radius: 8px;
    transition: 0.3s;
    display: none;
  }
  
  #local-video.active {
    border-radius: 8px;
    height: 30%;
    object-fit: cover;
    position: absolute;
    right: 40px;
    top: 80px;
    width: 20%;
    display: none;
    transition: 0.3s;
  }

  #remote-video.active {
    height: 80vh;
    object-fit: cover;
    position: absolute;
    width: 98%;
    left: 0px;
    top: 80px;
    border-radius: 8px;
    transition: 0.3s;
  }

  #local-video {
    background-color: #2E2E2E;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 70%;
    object-fit: cover;
    position: absolute;
    right: 40px;
    top: 80px;
    width: 48%;
    display: none;
    transition: 0.3s;
  }

  
  .meet-controls-bar {
    background-color: #8A5082;
    bottom: 0px;
    height: 80px;
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
  }

  .meet-controls-bar button{
    border-radius: 3px;
  }

  .user-control {
    display: flex;
    
  }

  .wrapper-icon {
    background-color: #3c4043;
    margin: 0 10px;
    width: 50px;
    padding: 12px 1px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper-icon:hover {
    background-color: #545758;
  }

.user-control i {
  font-size: 23px;
  color: #fff;
  margin: 0px 10px;
  position: relative;
  z-index: 1;
}

.icon-chat {
  color: #fff;
  font-size: 20px;
  width: 10px;
  height: 10px;
}